.webcam-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .photo-container {
    margin-right: 50px;
  }
  
  .photo {
    max-height: 80vh;
    max-width: 80vw;
    margin-right: 50px;
  }
  
  .webcam-box {
    position: relative;
  }
  
  .video {
    max-height: 80vh;
    max-width: 80vw;
  }
  
  .capture-button {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  